<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hydro Earth</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">Hydro Earth</div>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/models">Models</a></li>
                    <li><a href="/models/mine">My Models</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    {% if session.profile %}
                        <a href="/logout">
                            {% if session.profile.image %}
                                <img class="img-circle" src="{{ session.profile.image.url }}" width="24">
                            {% endif %}
                            {{ session.profile.displayName }}
                        </a>
                    {% else %}
                        <a href="/oauth2authorize">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {{ user }}
    </body>
</html>
