{% extends "base.html" %}

{% block content %}
    <h3>{{ action }} model</h3>

    <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ model.name }}" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="type">Type</label>

            {#    <input type="text" name="type" id="type" value="{{model.type}}" class="form-control"/>#}

            <select class="custom-select" id="type" name="type">
                {% for modelType in modelTypes %}
                    <option value="{{ modelType.name }}">{{ modelType.name }}</option>
                {% endfor %}
            </select>

        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control">{{ model.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="description">Parameters</label>
            <textarea name="parameters" id="parameters" class="form-control" rows="10">{{ model.parameters }}</textarea>
        </div>

        <div class="form-group hidden">
            <label for="createdBy">Created by</label>
            <input type="text" name="createdBy" id="createdBy" value="{{ model.createdBy }}" class="form-control"/>
        </div>

        <div class="form-group hidden">
            <label for="createdById">Created by ID</label>
            <input type="text" name="createdById" id="createdById" value="{{ model.createdById }}"
                   class="form-control"/>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>

{% endblock %}
